.navbar {
    height: 80px;
    background-color: #050505;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 60px;

    border-bottom: 1px solid #222;
}

/* LOGO */

.logo {
    display: flex;
    align-items: center;
    gap: 10px;

    color: white;
    font-size: 20px;
    font-weight: bold;
}

.logo strong {
    color: #b6ff00;
}

/* MENU */

.navbar nav {
    display: flex;
    gap: 45px;
}

.navbar nav a {
    color: white;
    text-decoration: none;

    font-size: 18px;
    font-weight: bold;

    padding: 28px 0;
}

.navbar nav a:hover {
    color: #b6ff00;
}

/* ÍCONES */ 

.acoes {
    display: flex;
    align-items: center;
    gap: 25px;

    color: white;
    font-size: 25px;
}

.acoes span {
    cursor: pointer;
}

.acoes span:hover {
    color: #6ffb00;
}

.navbar nav .ativo {
    color: #6ffb00;
    border-bottom: 3px solid #b6ff00;
}


/* carrinho */

.barra-lateral{
    position: fixed;
    top: 0;
    right: 0;
    width: 280px;
    height: 100vh;
    background: #111;
    color: rgb(255, 255, 255);
    padding: 20px;
    box-sizing:border-box;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
}

.overlay{
    
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 999;
}

.barra-lateral.open {
    transform: translateX(0);
}

.acoes button{
    cursor: pointer;
    background: none;
    border: none;
    color: #ffffff;
}

